@charset "utf-8";
/* CSS Document */
/* -------------------- 슬라이드 배너 ------------------- */
#slide_banner{position: relative; top: 100px; width: 1300px; height: 750px; margin: 0 auto; background: #ccc;}
#slide_banner .swiper-container{height: 100%;}
#slide_banner .swiper-container .swiper-wrapper{}
#slide_banner .swiper-container .swiper-wrapper .swiper-slide.slide1{background: url("https://dessert39.com:443/data/banner/123") 60% center no-repeat;}
#slide_banner .swiper-container .swiper-wrapper .swiper-slide.slide2{background: url("https://dessert39.com:443/data/banner/122") center center no-repeat;}
#slide_banner .swiper-container .swiper-wrapper .swiper-slide.slide3{background: url("https://dessert39.com:443/data/banner/118") 60% center no-repeat;}
#slide_banner .swiper-container .swiper-wrapper .swiper-slide.slide4{background: url("https://dessert39.com:443/data/banner/109") 65% center no-repeat;}
#slide_banner .swiper-container .swiper-wrapper .swiper-slide.slide5{background: url("https://dessert39.com:443/data/banner/100") center center no-repeat;}

/* 배너 텍스트 */
#slide_banner .text-box{position: absolute; left: 70px; top: 150px; width: 350px; word-break: keep-all;}
#slide_banner .text-box small{font-size: 16px; font-weight: 300;}
#slide_banner .text-box h3{font-size: 50px; padding: 10px 0;}
#slide_banner .text-box	p{font-size: 18px; padding: 30px 0;}
#slide_banner .text-box a{display: flex; justify-content: center; align-items: center; width: 180px; padding: 15px 0; border-radius: 5px; background: rgba(255,255,255,0.5);}

/* 더보기 버튼 */
#slide_banner .text-box a .more{transition: all 0.3s;}
#slide_banner .text-box a .circle{display: inline-block; width: 20px; height: 20px; margin-left: 20px; border-radius: 20px; background: rgba(119,119,119,0.5);}
#slide_banner .text-box a .circle .arrow{position: relative; left: -25px; top: -15px; transition: all 0.3s;}
#slide_banner .text-box a .circle .arrow img{width: 50px;}

#slide_banner .text-box a:hover .more{opacity: 0.7;}
#slide_banner .text-box a:hover .arrow{left: -5px;}

/* 배너 리스트 불릿 */
#slide_banner .swiper-pagination{position: absolute; top: 40%; right: 30px;}
#slide_banner .swiper-pagination-bullet{display: block; width: 10px; height: 10px; margin: 10px 0; background: rgba(255,255,255,0.5); opacity:1; transition: 0.3s;}
#slide_banner .swiper-pagination-bullet-active{background: #fff;}

/* 배너 목록 버튼 */
#slide_banner .btn{position: absolute; z-index: 2; left: 70px; bottom: 30px; width: 150px; height: 60px; border-radius: 70px; background: rgba(200,200,200,0.8);}
#slide_banner .btn button{}
#slide_banner .btn button.swiper-button-prev{background: url("../img/banner_left.png") center center no-repeat; background-size: 20px 30px;}
#slide_banner .btn button.swiper-button-next{background: url("../img/banner_right.png") center center no-repeat; background-size: 20px 30px;} 
#slide_banner .btn span{position: absolute; right: 50px; top: 17px; font-size: 20px; font-weight: 600; color: rgba(230,230,230,1);}
#slide_banner .swiper-slide .num{position: absolute; left: 120px; bottom: 48px; font-size: 20px; font-weight: 600; color: #000;}


/* 메인 영역 */
#main{}
/* -------------------- 섹션1 : 탄소 중립 실천 기업 ------------------- */
#eco{position: relative; width: 1300px; margin: 250px auto 0; letter-spacing: -0.075em}
#eco>p{text-align: center;}
#eco p span.blink{display: block; font-size: 35px; font-weight: 800; animation: blink 0.5s ease-in-out infinite alternate;}
#eco p u{display: inline-block; text-decoration: none; font-size: 25px; font-weight: 700; background: linear-gradient(to top, #ffb400 22%, transparent 0%);}
#eco h2{padding: 10px 0 50px; font-size: 65px; font-weight: 500; text-align: center; letter-spacing: -0.075em;}
#eco .story-box{}
#eco .story-box ul.eco_tabs{display: flex; justify-content: center; margin-bottom: 50px;}
#eco .story-box ul.eco_tabs li{margin: 0 10px;}
#eco .story-box ul.eco_tabs li button{display: flex; align-items: center; height: 100px; padding: 10px 30px; border: 3px solid var(--color-main); border-radius: 100px; font-size: 23px; font-weight: 500; background: #fff; transition: 0.3s;}
#eco .story-box ul.eco_tabs li button.on{background: var(--color-main); color: #fff;}
#eco .story-box ul.eco_tabs li button p{color: inherit;}
#eco .story-box ul.eco_tabs li button p span{font-size: 19px; color: inherit;}

#eco .story-box ul.eco_tabs li:hover button{background: var(--color-main); color: #fff;}

/* 탭 1 ----------------*/
#eco .story-box .eco_tab1{width: 100%; height: 450px; display: flex; justify-content: space-around; align-items: center;}
#eco .story-box .eco_tab1 .eco_article{display: flex; align-items: center; width: 350px; padding-left: 10px;}
#eco .story-box .eco_tab1 .eco_article .article_wrap{}
#eco .story-box .eco_tab1 .eco_article .article_wrap h3{margin: 10px 0; font-size: 16px; line-height: 1.4; }
#eco .story-box .eco_tab1 .eco_article .article_wrap strong{font-size: 25px;}
#eco .story-box .eco_tab1 .eco_article .article_wrap p{margin: 25px 0;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a{display: flex; justify-content: center; width: 80px;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a>span{transition: 0.3s;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a .circle{position: relative; display: inline-block; width: 20px; height: 20px; margin-left: 15px; border-radius: 20px; background: rgba(220,220,220,0.8);}
#eco .story-box .eco_tab1 .eco_article .article_wrap a .arrow{position: absolute; left: -24px; top: -15px; transition: 0.3s;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a .arrow img{width: 50px;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a:hover>span.eng{opacity: 0.7;}
#eco .story-box .eco_tab1 .eco_article .article_wrap a:hover .arrow{left: -5px;}

#eco .story-box .eco_tab1 .right_side{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 370px); height: 430px; padding: 40px 30px 40px 40px; border-radius: 50px 5px 5px 5px; background: url("../img/se10_esg_bg01_2.jpg") center center no-repeat; background-size: cover;}
#eco .story-box .eco_tab1 .right_side .green{font-weight: bold; color: var(--color-green);}
#eco .story-box .eco_tab1 .right_side .txt-box{color: #fff;}
#eco .story-box .eco_tab1 .right_side .txt-box .text_1{font-size: 30px; font-weight: 600; color: inherit;}
#eco .story-box .eco_tab1 .right_side .txt-box .bar{display: inline-block; width: 40px; height: 2px; margin: 50px 0 10px 0; background: #fff;}
#eco .story-box .eco_tab1 .right_side .txt-box .text_2{font-size: 20px; font-weight: 600; margin-bottom: 20px; color: inherit;}
#eco .story-box .eco_tab1 .right_side .txt-box .text_3{font-size: 16px; color: inherit;}
#eco .story-box .eco_tab1 .right_side .frame{}
#eco .story-box .eco_tab1 .right_side .frame img{width: 370px;}

/* 탭 2 ----------------*/
#eco .story-box .eco_tab2{width: 100%; height: 450px; display: flex; justify-content: space-around; align-items: center; display: none;}
#eco .story-box .eco_tab2 .eco_article{display: flex; align-items: center; width: 350px; padding-left: 10px;}
#eco .story-box .eco_tab2 .eco_article .article_wrap{}
#eco .story-box .eco_tab2 .eco_article .article_wrap img{display: block; width: 60px;}
#eco .story-box .eco_tab2 .eco_article .article_wrap h3{margin: 10px 0; font-size: 16px; line-height: 1.4; }
#eco .story-box .eco_tab2 .eco_article .article_wrap strong{font-size: 25px;}
#eco .story-box .eco_tab2 .eco_article .article_wrap p{margin: 25px 0;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a{display: flex; justify-content: center; width: 80px;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a>span{transition: 0.3s;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a .circle{position: relative; display: inline-block; width: 20px; height: 20px; margin-left: 15px; border-radius: 20px; background: rgba(220,220,220,0.8);}
#eco .story-box .eco_tab2 .eco_article .article_wrap a .arrow{position: absolute; left: -24px; top: -15px; transition: 0.3s;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a .arrow img{width: 50px;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a:hover>span.eng{opacity: 0.7;}
#eco .story-box .eco_tab2 .eco_article .article_wrap a:hover .arrow{left: -5px;}

#eco .story-box .eco_tab2 .right_side{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 370px); height: 430px; padding: 40px 30px 40px 40px; border-radius: 50px 5px 5px 5px; background: url("../img/se10_esg_bg01.jpg") center center no-repeat; background-size: cover;}
#eco .story-box .eco_tab2 .right_side .green{font-weight: bold; color: var(--color-green);}
#eco .story-box .eco_tab2 .right_side .txt-box{color: #fff;}
#eco .story-box .eco_tab2 .right_side .txt-box .text_1{font-size: 30px; font-weight: 600; color: inherit;}
#eco .story-box .eco_tab2 .right_side .txt-box .bar{display: inline-block; width: 40px; height: 2px; margin: 70px 0 10px 0; background: #fff;}
#eco .story-box .eco_tab2 .right_side .txt-box .text_2{font-size: 20px; font-weight: 600; margin-bottom: 20px; color: inherit;}
#eco .story-box .eco_tab2 .right_side .txt-box .text_3{font-size: 16px; color: inherit;}
#eco .story-box .eco_tab2 .right_side .frame{}
#eco .story-box .eco_tab2 .right_side .frame img{width: 370px;}

/* 탭 3 -------------*/
#eco .story-box .eco_tab3{width: 100%; height: 500px; display: flex; justify-content: space-around; align-items: center; display: none;}
#eco .story-box .eco_tab3 .eco_article{display: flex; align-items: center; width: 350px; padding-left: 10px;}
#eco .story-box .eco_tab3 .eco_article .article_wrap{}
#eco .story-box .eco_tab3 .eco_article .article_wrap img{display: block; width: 60px;}
#eco .story-box .eco_tab3 .eco_article .article_wrap h3{margin: 10px 0; font-size: 16px; line-height: 1.4; }
#eco .story-box .eco_tab3 .eco_article .article_wrap strong{font-size: 25px;}
#eco .story-box .eco_tab3 .eco_article .article_wrap p{margin: 25px 0;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a{display: flex; justify-content: center; width: 80px;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a>span{transition: 0.3s;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a .circle{position: relative; display: inline-block; width: 20px; height: 20px; margin-left: 15px; border-radius: 20px; background: rgba(220,220,220,0.8);}
#eco .story-box .eco_tab3 .eco_article .article_wrap a .arrow{position: absolute; left: -24px; top: -15px; transition: 0.3s;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a .arrow img{width: 50px;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a:hover>span.eng{opacity: 0.7;}
#eco .story-box .eco_tab3 .eco_article .article_wrap a:hover .arrow{left: -5px;}

#eco .story-box .eco_tab3 .right_side{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 370px); height: 500px; border-radius: 50px 5px 5px 5px; overflow: hidden; background: #000;}
#eco .story-box .eco_tab3 .right_side video{width: 100%; height: 100%;}

/* 탭 4 -------------*/
#eco .story-box .eco_tab4{width: 100%; height: 450px; display: flex; justify-content: space-around; align-items: center; display: none;}
#eco .story-box .eco_tab4 .eco_article{display: flex; align-items: center; width: 350px; padding-left: 10px;}
#eco .story-box .eco_tab4 .eco_article .article_wrap{}
#eco .story-box .eco_tab4 .eco_article .article_wrap .logo_grid{display: grid; grid-template-columns: repeat(4, 60px); grid-gap: 10px;}
#eco .story-box .eco_tab4 .eco_article .article_wrap .logo_grid img{display: block; width: 60px; border-radius: 60px; box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);}
#eco .story-box .eco_tab4 .eco_article .article_wrap h3{margin: 10px 0; font-size: 16px; line-height: 1.4;}
#eco .story-box .eco_tab4 .eco_article .article_wrap strong{font-size: 25px;}
#eco .story-box .eco_tab4 .eco_article .article_wrap p{margin: 25px 0;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a{display: flex; justify-content: center; width: 80px;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a>span{transition: 0.3s;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a .circle{position: relative; display: inline-block; width: 20px; height: 20px; margin-left: 15px; border-radius: 20px; background: rgba(220,220,220,0.8);}
#eco .story-box .eco_tab4 .eco_article .article_wrap a .arrow{position: absolute; left: -24px; top: -15px; transition: 0.3s;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a .arrow img{width: 50px;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a:hover>span.eng{opacity: 0.7;}
#eco .story-box .eco_tab4 .eco_article .article_wrap a:hover .arrow{left: -5px;}

/* 탭 4 슬라이드 */
.eco_tab4 .venture_tea{position: relative; width: calc(100% - 370px); height: 430px;}

/* 공통 속성 */
.eco_tab4 .swiper-container{height: 100%; border-radius: 50px 5px 5px 5px;}
.eco_tab4 .swiper-container .swiper-wrapper{}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide{display: flex; justify-content: space-between; align-items: center; padding: 40px 30px 40px 40px; }
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box{display: grid; justify-content: space-between; height: 100%; color: #fff;}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box .text_top{font-size: 30px; font-weight: 600; color: inherit;}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box .text_bottom{color: #fff;}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box .text_bottom .bar{display: inline-block; width: 40px; height: 2px; margin: 70px 0 10px 0; background: #fff;}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box .text_bottom .text_2{font-size: 20px; font-weight: 600; margin-bottom: 20px; color: inherit;}
.eco_tab4 .swiper-container .swiper-wrapper .swiper-slide .text-box .text_bottom .text_3{font-size: 16px; color: inherit;}

.eco_tab4 .swiper-container .swiper-pagination{}
.eco_tab4 .swiper-container .swiper-pagination-bullet{background: #fff;}
.eco_tab4 .swiper-pagination-bullet-active{background: #fff;}

/* 개별 속성 */
.eco_tab4 .swiper-container .swiper-wrapper .slide1{background: #412a0a;}
.eco_tab4 .swiper-container .swiper-wrapper .slide2{background: #412a0a;}

.eco_tab4 .swiper-container .swiper-slide .frame{}
.eco_tab4 .swiper-container .swiper-slide .frame img{width: 420px;}
.eco_tab4 .txt_top{position: absolute; z-index: 1; left: 40px; top: 40px; font-size: 30px; font-weight: 600; line-height: 1.3; color: #fff;}







/* -------------------- 섹션2 : 디저트 ------------------- */
#dessert{width: 1300px; margin: 250px auto 0; text-align: center; letter-spacing: -0.075em;}
#dessert h2{padding: 10px 0 50px; font-size: 65px; font-weight: 500; text-align: center; letter-spacing: -0.075em;}

